<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.flashvayne.mapper.UserMapper">

    <select id="selectPassword" resultType="java.lang.String">
        select password from rbac_user
        where user_id = #{userId}
    </select>

    <select id="selectUser" resultType="com.github.flashvayne.dto.AuthUserDTO">
        select user_id,name,status,mobile,email from rbac_user
        where use_id = #{userId}
    </select>

    <select id="selectRole" resultType="com.github.flashvayne.dto.AuthRoleDTO">
        select id,name,desc from rbac_role
        where id = #{roleId}
    </select>

    <select id="selectResource" resultType="com.github.flashvayne.dto.AuthResourceDTO">
        select B.id,B.type,B.name,B.url from rbac_role_resource A
                                                 inner join rbac_resource B
                                                            on A.resource_id = B.id
        where role_id = #{roleId}
    </select>

</mapper>
